body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  padding-bottom: 60px;
}
.container {
  width: 700px;
  margin: 0 auto;
}
a {
  color: #333;
}
h1,
h2,
h3 {
  font-family: "Bree Serif", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
p {
  line-height: 1.5em;
}
.photo {
  width: 320px;
  height: 320px;
}
.content {
  position: relative;
  padding: 20px 0;
}
.banner {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  padding-bottom: 210px;
  text-align: center;
}
.logotext {
  font-size: 48px;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.logotext,
.logotext a {
  color: #fff;
  text-decoration: none;
}
.details,
.details a {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.details .large,
.details .medium,
.details .small {
  margin: 0;
  margin-bottom: 1em;
}
.details .large,
.details .medium {
  font-family: "Bree Serif", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.details .large {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.details .medium,
.details .small {
  font-family: "Open Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.details .medium {
  font-weight: 600;
  line-height: 1.4em;
}
#date {
  position: absolute;
  left: 10px;
  top: 233px;
}
#slogan {
  position: absolute;
  left: 500px;
  top: 233px;
}
#register {
  position: absolute;
  left: 50%;
  margin-left: -88px;
  top: 160px;
  font-size: 24px;
  font-weight: bold;
  padding: 70px 10px;
  background-color: #ec5d59;
  background-image: -moz-linear-gradient(top, #ec5d59 0%, #c33d36 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ec5d59), color-stop(100%, #c33d36));
  background-image: -webkit-linear-gradient(top, #ec5d59 0%, #c33d36 100%);
  background-image: -ms-linear-gradient(top, #ec5d59 0%, #c33d36 100%);
  background-image: -o-linear-gradient(top, #ec5d59 0%, #c33d36 100%);
  background-image: linear-gradient(to bottom, #ec5d59 0%, #c33d36 100%);
  background-repeat: repeat-x;
  border: none;
  border-bottom: 2px solid #94302a;
  text-shadow: rgba(0,0,0,0.5) 0 2px 1px;
  border-radius: 6px;
  border-radius: 100px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.5);
}
#register:hover {
  -webkit-transition: background-position 0.2s linear;
  -moz-transition: background-position 0.2s linear;
  -ms-transition: background-position 0.2s linear;
  -o-transition: background-position 0.2s linear;
  transition: background-position 0.2s linear;
  background-position: 0 -15px;
  background-color: #c33d36;
}
.social {
  position: absolute;
  top: 360px;
  left: 50%;
  margin-left: -84px;
  padding: 0;
}
.social,
.social a {
  color: #ccc;
}
.social .fb-like,
.social .twitter-share-button {
  vertical-align: middle;
}
.social .fb-like {
  margin-right: 10px;
}
#map {
  float: right;
}
